body{
    display: grid;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "braço corpo corpo"
    "perna perna perna";
    grid-template-rows: 200px;
    grid-template-columns: 200px;
}

header{
    grid-area: cabeça;
    background-color: rgb(80, 218, 252);
} 

aside{
    grid-area: braço;
    background-color: rgb(11, 145, 185);
}

main{
    grid-area: corpo;
    background-color: rgb(218, 253, 255);
}

footer{
    grid-area: perna;
    background-color: rgb(160, 245, 245);
}

@media only screen and (max-width: 450px) {
    body{
        grid-template-areas: "cabeça"
                             "corpo"
                             "perna";
        grid-template-columns: auto;
        grid-template-rows: 150px auto 200px;
    }
    aside{
        display: none;
    }
}

.mae{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    border: rgb(66, 146, 146) 2px solid;
    background-color: rgb(255, 251, 251);
    width: 400px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin: 20px;
}

.img-card{
    width: 300px;
    height: auto;
}

.texto-card{
    color: rgb(0, 0, 0);
    font-size: x-large;
}

.preco-card{
    color: rgb(0, 0, 0);
    font-size: xx-large;
}

.botao{
    background-color: rgb(12, 241, 230);
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    color: black;
}